$border-color:black;
$bg-color:white;
$h-color: #2980b9;
$b-color: #3498db;

body {
  background-color: #DADFE1;
  color: #6C7A89;
  font-family: sans-serif;
  font-size: .8em;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}


img{
  max-width: 100%;
}

.wrap {
  background-color: $h-color;
  margin: 0 auto;
  max-width: 40em;
}

.header {
  background-color: $h-color;
  border: 0px solid $border-color;
  color: white;
  margin: 0;
  margin-bottom: 0em;
  padding: 0;
  text-align: center;
  vertical-align: center;
}

.todo {
  background-color: $bg-color;
  border: 0 1px solid $border-color;
  font-size: 1.5em;
}

.todo input {
  padding-left: .2em;
  width: 100%;
}

.list {
  background-color: $bg-color;
  border: 0px solid $border-color;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  word-wrap: break-word;

}

.list ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  overflow: hidden;
  padding: .3em;
  width: 100%;
}
.list li:nth-child(even) {
  background-color: lightgrey;
}

.addtodo button {
    background-color: $b-color;
    border: 0;
    border-color: #aaa #444 #444 #aaa;
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

.delete {
    background-color: #D91E18;
    border: 0;
    border-color: #aaa #444 #444 #aaa;
    color: #fff;
    float: right;
    font-size: .7em;
    margin-left: .5em;
    padding: .2em .4em .2em .4em;
    text-decoration: none;
}
